.skills__title{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

@media screen and (max-width: 1024px){
    .skills__title{
        font-size: 22px;
        line-height: 26px;
        margin: 0;
        padding-top: 1rem;
    }
}