.hobbies__title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 2rem 0;
    padding-top: 2rem;
}

@media screen and (width:1024px) {
    .hobbies__title{
        font-size: 22px;
    }
}