.hobbies__line{
    display: flex;
    justify-content: center;
}

.hobbies__box{
    width: 176px;
    height: 174px;
    margin-right: 16px;
    background: #FFFFFF;
}

.hobbies__box{
    display: flex;
    flex-direction: column-reverse;

}

.hobbies__box ul{
    padding: 16px;
    margin: 0;
    
}

.hobbies__img{
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 1024px){
    .hobbies__line{
        flex-wrap: wrap;
    }

    .hobbies__box{
    margin-right: 0;
    width: 156px;
    height: 118px
    }

    .hobbies__box ul{
        padding: 1rem 16px;
    }

   
}