.input__invalid{
    border: 1px solid red;
}

.input__valid{
    border: 1px solid chartreuse;
}

.input__mensaje__invalid{
    display: block;
    position: relative;
    top: 5px;
}

.input__mensaje{
    display:none;
}
