.title__div{
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 2rem 0 2rem;
    align-items: center;
    justify-content: space-between;
}

@media  screen and (max-width: 767px) {
    .title__div{
        padding: 1rem 0;
        flex-direction: column;
    }

    .title__div .title__photo{
        width: 100%;        
    }

    .title__profile{
        width: 98px;
    }

    .title__container{
        width: 100%;
    }
}