.menu__list{
    display: flex;
}

.menu__list__item{
    margin-right: 1.5rem;
}

/* @media screen and (max-width:1024px){
    .menu__list__item__contacto{
        display: block;
    }

    body{
        width: 100%;
    }
} */

@media screen and (min-width: 1024px){
    nav .menu__list__item__contacto{
        display: none;
    }

}

@media screen and (max-width: 1024px){
    nav .menu__list{
        display: none;
    }

    body{
        width: 100%;
    }
}

/* @media screen and (min-width: 768px){
    .menu__list__item__contacto{
        display: none;
    }
} */

