.academic{
    background: var(--color-celeste-claro);
}

.academic__title{
    padding-top: 4rem;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}

@media screen and (max-width: 1024px){
    .academic__title{
        font-size: 22px;
    }
}