.academic__courses{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.academic__courses__box{
    width: 350px;
    height: 286px;
    padding: 16px;
}

.academic__courses__list{
    margin: 0;
}

.academic__courses__item__img img{
    width: 245px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 5px;
}

.academic__courses__item__title h4{
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    color: var(--color-de-letras);
    margin: 1rem 0;
}

@media screen and (max-width:1024px){
    .academic__courses{
        flex-wrap: wrap;
        width: 100%;
    }
}